<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
</head>
<body class="sm:m-8 md:m-12 md:w-3/4 sm:w-full bg-stone-50 font-serif">
  <header class="border-b border-b-stone-300">
    <h1 class="text-3xl">Corey Mahoney</h1>
      <ul class="flex flex-row mt-14 pb-4 text-xl">
      {%- for nav in collections.nav -%}
        <li{% if page.url == nav.url %} aria-current="page"{% endif %} class="{% if page.url == nav.url %}text-red-800{% endif %} flex-none w-20">
          <a href="{{ nav.url }}">{{ nav.data.title }}</a>
        </li>
      {%- endfor -%}
      </ul>
  </header>
  <main class="pt-12 prose prose-stone prose-a:text-red-800">
    {{ content | safe }}
  </main>
</body>
</html>