---
layout: layout.njk
---
<div class="writing-intro">
  {{ content | safe }}
</div>

<div class="writing-list">
{%- for post in collections.post | reverse -%}
  <h2><a href="{% if post.data.redirect %}{{ post.data.redirect }}{% else %}{{ post.url }}{% endif %}">{{ post.data.title }}</a></h2>
  <p class="writing-meta">{{ post.data.date | date('MMMM D, YYYY') }}{% if post.data.meta %} | {{ post.data.meta }}{% endif %}</p>
  <p class="writing-excerpt">{{ post.data.excerpt }}</p>
{%- endfor -%}
</div>
