@tailwind base;
@tailwind components;
@tailwind utilities;

.dropcap {
    font-size: 4em;
    font-weight: 400;
    display: inline-block;
    float: left;
    margin-top: -10px;
    line-height: 1;
    height: 0.82em;
    padding-right: 0.18em;
}
